<main class="card mt-20 within-viewport mailbox">
    <!-- message search header -->
    <div class="mail-setcion-wrapper">
        <div class="mails-list-wrapper">
            <span class="flex-message-header-left">
                <input type="text" class="search-box" name="mailSearchCriteria" placeholder="Search message">
                <span class="search-icon">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.2181 17.8665L15.7455 14.3005C18.3809 10.8952 18.1329 5.88362 15.1255 2.76742C13.5442 1.12901 11.4669 0.229492 9.23455 0.229492C7.00221 0.229492 4.89389 1.12901 3.31265 2.76742C1.73141 4.40583 0.863281 6.55825 0.863281 8.90343C0.863281 11.2486 1.73141 13.401 3.31265 15.0394C4.89389 16.6457 6.97121 17.5774 9.23455 17.5774C11.1258 17.5774 12.9861 16.9027 14.4433 15.682L17.8849 19.2479C18.0709 19.4407 18.2879 19.537 18.536 19.537C18.784 19.537 19.032 19.4407 19.1871 19.2479C19.5591 18.8624 19.5591 18.252 19.2181 17.8665ZM15.7455 8.90343C15.7455 10.7025 15.0634 12.4051 13.8233 13.658C12.5831 14.9109 10.9708 15.6498 9.23455 15.6498C7.49829 15.6498 5.85504 14.9431 4.64586 13.658C3.43667 12.373 2.72356 10.7025 2.72356 8.90343C2.72356 7.10439 3.40567 5.40173 4.64586 4.14883C5.88604 2.89593 7.46729 2.15703 9.23455 2.15703C10.9708 2.15703 12.6141 2.8638 13.8233 4.14883C15.0324 5.43386 15.7455 7.07227 15.7455 8.90343Z" fill="#5E81F4"/>
                    </svg>
                </span>
            </span>
            <div class="compose-wrapper">
            </div>
            <!-- list of message senders -->
            <div class="mail-list">
                <div *ngFor="let mail of chats" (click)="selectedChat = mail; messageStatus(mail)" 
                class="mail-short-detail-wrapper"
                [ngClass]="{'selected-mail': selectedChat.chat_id === mail.chat_id, 
                'mail-read': mail.unread === 0,
                'mail-unread': mail.unread !== 0}">
                    <p class="mail-from" >
                        {{getEmployeeNameBasedOnId(mail.members)}}
                    </p>
                    <!-- <p class="mail-content-short">{{mail.messages[mail.totalMessages - 1].message}}</p> -->
                    <p class="mail-day">
                        {{mail.messages[mail.totalMessages - 1].timestamp  | date: 'EEEE'}}
                    </p>
                    <p class="first-message">
                        {{mail.messages[0].message}}
                    </p>
                    <p class="mail-date-time">{{mail.messages[mail.totalMessages - 1].timestamp | date: 'M/d/yy, h:mm a'}}</p>
                    <span class="mail-read-flag" [ngClass]="mail.messages[mail.totalMessages - 1].status !== 'READ' ? 'mail-unread' : 'mail-read'">
                    </span>
                </div>
            </div>
        </div>

        <div class="mail-content-wrapper">
            <!-- <div class="inbox-outbox-btn-wrapper">
                <button class="box-selection-btn" 
                [ngClass]="isInbox ? 'selected': ''" 
                (click)="getInbox(); isInbox = true;">Inbox</button>

                <button class="box-selection-btn" 
                [ngClass]="!isInbox ? 'selected': ''" 
                (click)="getOutbox(); isInbox = false;">Outbox</button>

                <div class="compose-wrapper">
                    <button (click)="addMessage()" class="compose-btn">Compose</button>
                </div>

            </div> -->
            <!-- message sender name -->
            <span class="message-header">
                <div class="_tab-group" role="tablist">
                    <button role="tab" id="tasks-tab" [ngClass]="[selectedTab === 'employee' ? 'message-tab selected-tab' : 'message-tab']" 
                    (click)="changeTab('employee')">Employee</button>
                    <button role="tab" id="notices-tab" [ngClass]="[selectedTab === 'parent' ? 'message-tab selected-tab' : 'message-tab']"
                    (click)="changeTab('parent')">Parent</button>
                    <button (click)="addMessage()" class="compose-btn">
                        <span>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.85068 0C9.33253 0 8.91252 0.42344 8.91252 0.945781V8.98492H0.93816C0.420014 8.98492 0 9.40835 0 9.9307C0 10.4531 0.420014 10.8765 0.93816 10.8765H8.91252V18.9156C8.91252 19.438 9.33253 19.8614 9.85068 19.8614C10.3688 19.8614 10.7888 19.438 10.7888 18.9156V10.8765H18.7632C19.2813 10.8765 19.7014 10.4531 19.7014 9.9307C19.7014 9.40835 19.2813 8.98492 18.7632 8.98492H10.7888V0.945781C10.7888 0.42344 10.3688 0 9.85068 0Z" fill="white"/>
                                <path d="M9.85068 0C9.33253 0 8.91252 0.42344 8.91252 0.945781V8.98492H0.93816C0.420014 8.98492 0 9.40835 0 9.9307C0 10.4531 0.420014 10.8765 0.93816 10.8765H8.91252V18.9156C8.91252 19.438 9.33253 19.8614 9.85068 19.8614C10.3688 19.8614 10.7888 19.438 10.7888 18.9156V10.8765H18.7632C19.2813 10.8765 19.7014 10.4531 19.7014 9.9307C19.7014 9.40835 19.2813 8.98492 18.7632 8.98492H10.7888V0.945781C10.7888 0.42344 10.3688 0 9.85068 0Z" fill="white"/>
                            </svg>
                        </span>
                        <p class="compose-text">
                            Compose
                        </p>
                    </button>
                  </div>
                <!-- <span class="mail-body-from-name">Guru ramu</span> -->
            </span>
            <div class="mail-body-wrapper">
                <!-- messages -->
                <div class="mail-content" *ngIf="selectedChat">
                    <div class="mail-box custom-scrollbar" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                        <div *ngFor="let msg of selectedChat.messages">
                            <div [ngClass]="msg.receiver === sent_to ? 'mail-body' : 'mail-body2'">
                                <p class="message-text">{{msg.message}}</p>
                                <p [ngClass]="msg.receiver === sent_to ? 'overlap-text time message-time' : 'overlap-text time message-time2'">{{ msg.timestamp | date: 'shortTime' }}</p>
                            </div>
                        </div>
                    </div>
                    <span class="mail-body-read-flag" *ngIf="!isInbox"
                    [ngClass]="selectedChat.status === 1 ? 'mail-sent' : 'mail-unsent'"></span>
                </div>
                <!-- send message input -->
                <div class="text-area-container" [formGroup] = "replyForm" (ngSubmit)= "sendReply()">
                    <textarea name="message-to-send" class="textarea-chat" formControlName="message" id="message-to-send" placeholder ="Type your message" rows="3" (keydown)="triggerReply($event)"></textarea>
                    <button (click)="sendReply()" class="send-button-icon">
                        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.1183 0L0.319652 12.3383C0.112569 12.4373 -0.0134811 12.6523 0.00114973 12.8808C0.0157806 13.1092 0.166591 13.3062 0.384928 13.3793L9.64963 16.4687L26.1183 0Z" fill="#6382ED"/>
                            <path d="M10.4453 17.2646L13.5347 26.5293C13.6067 26.7465 13.8048 26.8984 14.0332 26.9131C14.0445 26.9142 14.0569 26.9142 14.0681 26.9142C14.2842 26.9142 14.4823 26.7915 14.5757 26.5946L26.914 0.795898L10.4453 17.2646Z" fill="#6382ED"/>
                            </svg>
                    </button>
                    <!-- <app-print-error
                        [control]="replyForm.get('message')"
                        [fieldName]="'Message'"
                    ></app-print-error> -->
                    <!-- margin-left: 90%;
                    /* position: fixed; */
                    bottom: 18%;
                    display: flex;
                    margin-top: -17%; -->
                    <!-- textarea-chat -->
                    <!-- <input type="text" class="mail-body-reply-btn" name="mailSearchCriteria" [(ngModel)]="reply" placeholder="Click here to reply"> -->
                    <!-- <button class="btn send-btn" (click)="sendReply()">send</button> -->
                </div>
            </div>
            
        </div>
    </div>
</main>