<div id="main-content1">
  <div class="blue-top-bar"></div>
  <div class="row-wrapper center-content">
    <button
      class="btn -cta"
      [ngClass]="[singleemployeedetails ? 'active-tab' : 'inactive-tab']"
      (click)="setTabDetails(true, false)"
    >
      Single Employee Admission
    </button>
    <button
      class="btn -cta"
      [ngClass]="[employeeaddress ? 'active-tab' : 'inactive-tab']"
      (click)="setTabDetails(false, true)"
    >
      Employee Address {{singleemployeedetails}}
    </button>
  </div>
  <div *ngIf="singleemployeedetails">
    <pro-school-employee-admission
      [employee]="employee"
      [employeeForm]="employeeadmissionForm.controls.admissionForm"
      (employeeDetailsSubmitted)="get_employeeForm($event)"
    ></pro-school-employee-admission>
  </div>
  <div *ngIf="employeeaddress">
    <pro-school-employee-address
      [employee]="employee"
      [employeeAddressForm]="employeeadmissionForm.controls.addressForm"
    ></pro-school-employee-address>
  </div>

  <!-- 
      <div>
        <div class="col-md-3 pull-left tab-btn">
          <div class="btn -cta inactive-tab" (click)="close()">Close</div>
          <div class="btn -cta inactive-tab" (click)="get_employeeForm('singleemployeedetails')">Previous</div>
        </div>
        <div class="col-md-3 pull-right tab-btn">
          <button class="btn -cta active-tab" type="submit">Submit</button>
        </div>
      </div> -->
</div>

<!-- <div *ngIf="employeeaddress">

      <div class="row-wrapper">
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">State</label>
            <div><input class="inpbox" type="text" formControlName="state"></div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Country</label>
            <div><input class="inpbox" type="text" formControlName=""></div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Postal Code</label>
            <div>
              <input class="inpbox" type="text" formControlName="postal_code">
            </div>
          </div>
        </div>
        <div class="col-full-3">
          <div class="form-group">
            <label class="heading">Qualification</label>
            <div>
              <input class="inpbox" type="text" formControlName="qualification">
            </div>
          </div>
        </div>
      </div>

      <div class="row-wrapper">
        <div class="col-full-6">
          <div class="form-group" [ngClass]="{'has-error' : employeeadmissionForm.get('cur_address').errors 
          && (employeeadmissionForm.get('cur_address').touched || employeeadmissionForm.get('cur_address').dirty)}">
            <label class="heading">Current Address</label>
            <div>
              <textarea formControlName="cur_address" cols="45" rows="5" ></textarea>
              <span class="help-block" *ngIf="!is_cur_address_valid">Please Enter Current Address.</span>
              <small class="text-danger"
              *ngIf="employeeadmissionForm.get('cur_address').touched">
              Please Enter Current Address
          </small>
            </div>
          </div>
        </div>
        <div class="col-full-6">
          <div class="form-group" [ngClass]="{'has-error' : employeeadmissionForm.get('perm_address').errors 
          && (employeeadmissionForm.get('perm_address').touched || employeeadmissionForm.get('perm_address').dirty)}">
            <label class="heading">Permanent Address</label>
            <div>
              <textarea formControlName="perm_address" cols="45" rows="5"></textarea>
              <span class="help-block" *ngIf="!is_perm_address_valid">Please Enter Permanent Address.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row-wrapper">
        <div class="col-full-6">
          <div class="form-group">
            <label class="heading">Upload Photo :</label>
            <input id="file-input-studProfPic" type="file" name="image" (change)="employeeProfPic($event.target.files)" />
          </div>
        </div>
        <div>
          <img  src="{{employeeImagee}}" alt="" class="_pic" width="50">
        </div>
      </div>

      <div>
        <div class="col-md-3 pull-left tab-btn">
          <div class="btn -cta inactive-tab" (click)="close()">Close</div>
          <div class="btn -cta inactive-tab" (click)="get_employeeForm('singleemployeedetails')">Previous</div>
        </div>
        <div class="col-md-3 pull-right tab-btn">
          <button class="btn -cta active-tab" type="submit">Submit</button>
        </div>
      </div>

    </div> -->
