<header>
    <div class="container logo-n-nav">
        <div class="header-logo">
            <img src="../../assets/img/proschool.svg" alt="Pro School" class="header-logo-default">
            <img src="../../assets/img/proschool-inverse.svg" alt="Pro School" class="header-logo-inverse">
        </div>
        <nav class="nav">
            <button class="nav-trigger" aria-expanded="false" onclick="this.setAttribute('aria-expanded', this.parentElement.parentElement.parentElement.classList.toggle('show-menu'))">
                <span class="sr-only">Menu</span>
                <div class="nav-trigger-burger">
                    <span class="nav-trigger-layer"></span>
                    <span class="nav-trigger-layer"></span>
                    <span class="nav-trigger-layer"></span>
                </div>
                <div class="nav-trigger-close" aria-hidden="true">
                    &times;
                </div>
            </button>
            <div class="nav-links">
                <a href="" class="nav-link">Lorem</a>
                <a href="" class="nav-link">Lorem</a>
                <a href="" class="nav-link">Lorem</a>
                <a href="" class="nav-link">Lorem</a>
                <div class="nav-ctas">
                    <a href="" class="btn-secondary header-login-cta" (click)="loginPage()">Login</a>
                    <a href="" class="btn-cta nav-get-started">Get Started</a>
                </div>
            </div>
        </nav>
    </div>
</header>
<main class="relative">
    <div class="container banner relative wrapper">
        <div class="relative banner-content">
            <p class="banner-heading">
                <strong style="font-weight:600">Lorem ipsum dolor sit amet, consectetur.</strong>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Neque lobortis pellentesque.</p>
            <p class="banner-p-1"><a href="" class="btn-cta banner-cta">TRY NOW FOR FREE</a></p>
            <p class="banner-fine-print">Adipiscing elit Neque lobortis pellentesque.</p>
        </div>
        <img src="../../assets/img/layer-2.svg" alt="" class="banner-img">
        <div class="shapes">
            <!-- <span role="presentation" id="banner-abstract-1" class="abstract-1"></span> -->
            <span role="presentation" id="banner-cube-1" class="ice-cube"></span>
            <span role="presentation" id="banner-cube-2" class="ice-cube"></span>
            <span role="presentation" id="banner-disc-1" class="disc disc-sm"></span>
            <span role="presentation" id="banner-disc-2" class="disc disc-md"></span>
            <span role="presentation" id="banner-disc-3" class="disc disc-md"></span>
            <span role="presentation" id="banner-disc-4" class="disc disc-xs"></span>
            <span role="presentation" id="banner-disc-5" class="disc disc-xs"></span>
            <span role="presentation" id="banner-disc-6" class="disc disc-xs"></span>
        </div>
    </div>
    <div class="shapes">
        <span role="presentation" id="banner-abstract-2" class="abstract-1"></span>
    </div>
    <div class="container features-parent">
        <div class="feature chat-feature  relative">
            <img src="../../assets/img/chat-feature.svg" alt="" class="feature-img">
            <div class="feature-explanation">
                <h2>Chat Feature</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque lobortis pellentesque viverra in mattis egestas. Sollicitudin nullam est velit a lectus sed lorem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque lobortis pellentesque viverra in mattis egestas.</p>
                <a href="" class="feature-get-started"><img src="../../assets/img/arrow-1.svg" alt="" style="margin-right:16px;"> Get Started</a>
            </div>
            <span role="presentation" class="dot dot-sm" style="left:65%; top:60px;"></span>
        </div>
        <div class="feature assessments-feature">
            <img src="../../assets/img/assessments-feature.svg" alt="" class="feature-img">
            <div class="feature-explanation">
                <h2>Assessments</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque lobortis pellentesque viverra in mattis egestas. Sollicitudin nullam est velit a lectus sed lorem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque lobortis pellentesque viverra in mattis egestas.</p>
                <a href="" class="feature-get-started"><img src="../../assets/img/arrow-1.svg" alt="" style="margin-right:16px;"> Get Started</a>
            </div>
        </div>
        <div class="feature assessments-feature">
            <img src="../../assets/img/academics-feature.svg" alt="" class="feature-img">
            <div class="feature-explanation">
                <h2>Academics Feature</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque lobortis pellentesque viverra in mattis egestas. Sollicitudin nullam est velit a lectus sed lorem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque lobortis pellentesque viverra in mattis egestas.</p>
                <a href="" class="feature-get-started"><img src="../../assets/img/arrow-1.svg" alt="" style="margin-right:16px;"> Get Started</a>
            </div>
        </div>
        <div class="shapes">
            <span role="presentation" id="feature-cube-1" class="ice-cube"></span>
            <span role="presentation" id="feature-cube-2" class="ice-cube"></span>
            <span role="presentation" id="feature-cube-3" class="ice-cube"></span>
            <span role="presentation" id="feature-cube-4" class="ice-cube"></span>
            <span role="presentation" id="feature-disc-1" class="disc disc-sm"></span>
            <span role="presentation" id="feature-disc-2" class="disc disc-sm"></span>
            <span role="presentation" id="feature-disc-3" class="disc disc-md"></span>
        </div>
    </div>
    <section class="amazing-features relative container">
        <h2 class="text-center">OUR AMAZING FEATURES</h2>
        <div class="feature-wrap">
            <section class="feature">
                <img src="../../assets/img/analysis-1.svg" alt="" class="mx-auto" />
                <h3>Feature 1 Intro</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque lobortis pellentesque viverra in mattis egestas. </p>
            </section>
            <section class="feature">
                <img src="../../assets/img/chronometer-1.svg" alt="" class="mx-auto" />
                <h3>Feature 2 Intro</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque lobortis pellentesque viverra in mattis egestas. </p>
            </section>
            <section class="feature">
                <img src="../../assets/img/technical-support-1.svg" alt="" class="mx-auto" />
                <h3>Feature 3 Intro</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque lobortis pellentesque viverra in mattis egestas. </p>
            </section>
            <section class="feature">
                <img src="../../assets/img/analysis-1.svg" alt="" class="mx-auto" />
                <h3>Feature 4 Intro</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque lobortis pellentesque viverra in mattis egestas. </p>
            </section>
        </div>
        <div class="learn-more-amazing-features">
            <div class="learn-more-amazing-features-text">
                <p class="m-0"><strong>Lorem ipsum dolor sit amet?</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit.</p>
            </div>
            <a href="" class="learn-more-cta">LEARN MORE</a>
        </div>
        <div class="shapes">
            <span role="presentation" id="amazing-feature-cube-1" class="ice-cube"></span>
            <span role="presentation" id="amazing-feature-cube-2" class="ice-cube"></span>
        </div>
    </section>
    <footer>
        FOOTER ACCORDING TO THE CONTENT PROVIDED
    </footer>
    <!-- <section class="form-pad-section">
        <div class="form-pad-wrap">
            <form action="" class="form-pad mx-auto">
                <label>
                    <span class="sr-only">First Name</span>
                    <input type="text" placeholder="First Name">
                </label>
                <label>
                    <span class="sr-only">Last Name</span>
                    <input type="text" placeholder="Last Name">
                </label>
                <label>
                    <span class="sr-only">Company Name</span>
                    <input type="text" placeholder="Company Name">
                </label>
                <label>
                    <span class="sr-only">Email</span>
                    <input type="text" placeholder="Email">
                </label>
                <label>
                    <span class="sr-only">Phone Number</span>
                    <input type="text" placeholder="Phone Number">
                </label>
                <label class="has-checkbox">
                    <input type="checkbox" placeholder="">
                    <span>I Accept the terms & conditions</span>
                </label>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </section> -->
</main>