<div [formGroup]="studentForm">
  <div class="row-wrapper">
    <pro-school-common-input
      [form]="studentForm"
      [control]="'admission_no'"
      [fieldName]="'Admission Number'"
      [labelTitle]="'Admission No*'"
      [inputType]="'input'"
    ></pro-school-common-input>
    <pro-school-common-input
      [form]="studentForm"
      [control]="'roll_no'"
      [fieldName]="'Roll Number'"
      [labelTitle]="'Roll No*'"
      [inputType]="'input'"
    ></pro-school-common-input>
    <pro-school-common-input
      [form]="studentForm"
      [control]="'first_name'"
      [fieldName]="'first name'"
      [labelTitle]="'first name*'"
      [inputType]="'input'"
    ></pro-school-common-input>
    <pro-school-common-input
      [form]="studentForm"
      [control]="'last_name'"
      [fieldName]="'last name'"
      [labelTitle]="'last name*'"
      [inputType]="'input'"
    ></pro-school-common-input>
  </div>
  <div class="row-wrapper">
    <pro-school-common-input
      [form]="studentForm"
      [control]="'gender'"
      [options]="genderOptions"
      [fieldName]="'gender'"
      [labelTitle]="'Gender*'"
      [inputType]="'DropDown'"
    >
    </pro-school-common-input>
    <div class="col-full-3">
      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            studentForm.get('dob').errors &&
            (studentForm.get('dob').touched || studentForm.get('dob').dirty)
        }"
      >
        <label class="heading">Date of Birth*</label>
        <input
          type="text"
          formControlName="dob"
          placeholder="DD/MM/YYYY"
          inputmode="numeric"
          autocomplete="off"
          class="form-control date-control"
          type="date"
        />
        <span
          *ngIf="
            !isDOBValid ||
            (studentForm.get('dob') &&
              studentForm.get('dob').errors &&
              (studentForm.get('dob').dirty ||
                studentForm.get('dob').touched) &&
              studentForm.get('dob').errors.required)
          "
          class="help-block"
          >Please enter valid DOB.</span
        >
      </div>
    </div>
    <pro-school-common-input
      [form]="studentForm"
      [control]="'category'"
      [options]="categoriesOptions"
      [fieldName]="'category'"
      [labelTitle]="'Category*'"
      [inputType]="'DropDown'"
    >
    </pro-school-common-input>
    <pro-school-common-input
      [form]="studentForm"
      [control]="'nationality'"
      [fieldName]="'nationality'"
      [labelTitle]="'Nationality*'"
      [inputType]="'input'"
    ></pro-school-common-input>
  </div>

  <div class="row-wrapper">
    <!-- Contact -->
    <pro-school-common-input
      [form]="studentForm"
      [control]="'phone'"
      [fieldName]="'contact number'"
      [labelTitle]="'Contact No*'"
      [inputType]="'input'"
    ></pro-school-common-input>
    <pro-school-common-input
      [form]="studentForm"
      [control]="'aadhar_no'"
      [fieldName]="'ADHAR number'"
      [labelTitle]="'Aadhaar No*'"
      [inputType]="'input'"
    ></pro-school-common-input>
    <pro-school-common-input
      [form]="studentForm"
      [control]="'blood_group'"
      [options]="bloodGroupOptions"
      [fieldName]="'Blood Group'"
      [labelTitle]="'Blood Group'"
      [inputType]="'DropDown'"
    >
    </pro-school-common-input>
    <div class="col-full-3">
      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            studentForm.get('admission_date').errors &&
            (studentForm.get('admission_date').touched ||
              studentForm.get('admission_date').dirty)
        }"
      >
        <label class="heading">Admission Date*</label>
        <input
          type="text"
          formControlName="admission_date"
          class="form-control date-control"
          type="date"
        />
        <span
          class="help-block"
          *ngIf="
            !isDOfAdmissionValid ||
            (studentForm.get('admission_date') &&
              studentForm.get('admission_date').errors &&
              (studentForm.get('admission_date').dirty ||
                studentForm.get('admission_date').touched) &&
              studentForm.get('admission_date').errors.required)
          "
          >Please enter valid date of admission.</span
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 pull-left tab-btn">
      <div class="btn -cta inactive-tab" (click)="close()">Cancel</div>
    </div>
    <div class="col-md-3 pull-right tab-btn">
      <div
        class="btn -cta active-tab"
        (click)="get_studentForm('parentdetails')"
      >
        NEXT &raquo;
      </div>
    </div>
  </div>
</div>
