<div class="login">
    <div class="side-image">
        <img src="../../assets/images/new-login-img.png" alt="ProSchool">
    </div>
    <div class="login-form-wrapper">
        <div class="wrap-login100">
            <img src="../../assets/images/new-login-logo.png" alt="ProSchool">
            <h2 class="login-heading">Please Enter your username to verify your account</h2>

            <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="forgot_password()" *ngIf="username_value">
                <input class="login-fields" type="email" id="loginEmailId" formControlName="email" placeholder="Username">
                <span class="help-block" *ngIf="!is_email_valid">Please enter user name</span>

                <button type="submit" class="login-btn">
                   Submit
                </button>
            </form>

            <form class="login100-form validate-form" [formGroup]="otpForm" (ngSubmit)="verify_otp()" *ngIf="otp_value">

                <input class="login-fields" type="number" id="otpId" formControlName="otp" placeholder="Enter the OTP">
                <span class="help-block" *ngIf="!is_otp_valid">Please enter valid OTP</span>

                <button type="submit" class="login-btn">
                   Submit
                </button>
            </form>

            <form class="login100-form validate-form" [formGroup]="passwordForm" (ngSubmit)="reset_password()" *ngIf="password_value">
                
                <input class="login-fields" type="password" id="passwordId" formControlName="password" placeholder="Enter the New Password">
                <span class="help-block" *ngIf="!is_password_valid">Please enter Password</span>

                <button type="submit" class="login-btn">
                   Submit
                </button>
            </form>

        </div>
    </div>
</div>