

<div class="container mt-5">

    <div class="row taskdetails">
        <h4 class="col-md-10">TASK DETAILS</h4>
        <span class="close col-md-2" (click)="close()">&times;</span>
    </div>
    
    <div class="vertical-space2"></div>
    <div class="col-md-12 taskdetails-tab">
        <div class="col-md-2 col-sm-4 taks-grid">
            <span class="task-name-text">Task Name</span>
            <span class="task-priority">PRIORITY</span>
        </div>

        <div class="col-md-2 col-sm-4 taks-grid">
            <span class="task-details-sub">Department</span>
            <span class="task-details-sub-header">TEACHING</span>
        </div>

        <div class="col-md-2 col-sm-4 taks-grid">
            <span class="task-details-sub">Assaigned To</span>
            <span class="task-details-sub-header">KRANTHI</span>
        </div>
        <div class="col-md-2 col-sm-4 taks-grid">
            <span class="task-details-sub">Due Date</span>
            <span class="task-details-sub-header">dd/mm/yyyy</span>
        </div>
        <div class="col-md-2 col-sm-4 taks-grid">
            <span class="task-details-sub">Status</span>
            <span class="task-details-sub-header">Complete</span>
        </div>
    </div>
    <div class="clearfix"></div> 
    <div class="vertical-space2"></div>
    <div><span class="comments-text">Comments</span></div>
    <div class="vertical-space2"></div> 
    <div class="col-md-12 ">
        <div class="col-md-10 ">
            <div><span class="comments-body-text">Mr.kranthi Kumar Reddy</span></div>
            <div><p class="comments-body-desc"> this task is pending. please fill this</p></div>
        </div>

        <div class="col-md-2">
            <div><span class="comments-body-posttime text-center" >Posted 3 days ago.</span></div>
        </div>
            
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="col-md-12 ">
        <div class="col-md-10 ">
            <div><span class="comments-body-text">Mr.kranthi Kumar Reddy</span></div>
            <div><p class="comments-body-desc"> this task is pending. please fill this</p></div>
        </div>

        <div class="col-md-2">
            <div><span class="comments-body-posttime text-center" >Posted 3 days ago.</span></div>
        </div>
            
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="col-md-12 ">
        <div class="col-md-10 ">
            <div><span class="comments-body-text">Mr.kranthi Kumar Reddy</span></div>
            <div><p class="comments-body-desc"> this task is pending. please fill this</p></div>
        </div>

        <div class="col-md-2">
            <div><span class="comments-body-posttime text-center" >Posted 3 days ago.</span></div>
        </div>
            
    </div>
    <div class="clearfix"></div>
    <hr>

    <div class="vertical-space3"></div>
    <div class=" post-comment col-md-12">
        <!-- <img class="rounded-circle col-md-2" src="https://i.imgur.com/RpzrMR2.jpg" class="img-circle" alt="Cinque Terre" width="50" height="35">
        <textarea class="form-control col-md-10 shadow-none textarea col-md-11"></textarea> -->

            <textarea class="form-control  shadow-none textarea col-md-11" placeholder="write a comment"></textarea>
            <i class="fa fa-telegram col-md-1 fa-circle" aria-hidden="true"></i>
        </div>
</div>